body {
  background: #d4d4d4 url("../images/background.png?middleman-scaffolding-bg");
  font-family: sans-serif;
}

a {
  color: #333;
}

div.wrap {
  width: 600px;
  margin: 12px auto;
  background-color: rgba(255,255,255,0.2);
  padding: 8px 14px;
}

nav#local-posts {
  font-size: smaller;
  p {
    margin: 0;
  }
  p.posts-header {
    font-size: 11px;
    border-bottom: 1px solid #777;
    margin-top: 4px;
  }
  a {
    text-decoration: none;
    background-color: #bbb;
    display: block;
    padding: 4px 8px;
    &:hover {
      background-color: #aaa;
    }
  }
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    li {
      margin: 2px 0 0;
      &:first-child {
        margin: 0;
      }
      a {
        padding-left: 26px;
      }
    }
  }
}

section.reasoning {
  padding: 2px 6px;
  border: 1px solid #aaa;
  a {
    &:hover {
      color: #333;
    }
    color: #666;
  }
  p {
    color: #666;
    font-size: 11px;
    margin: 5px 10px;
  }
}

h1 {
  /*many of these values are carried over from the middleman project scaffolding*/
  color: #555;
  font-weight: bold;
  font-size: 22px;
  letter-spacing: -1px;
  text-transform: uppercase;
  text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
  margin: 0;
}

h2 {
  font-size: 18px;
  color: #444;
}


span.ish {
  font-size: smaller;
  font-style: italic;
  opacity: 0.4;
}
