---
title: Learning Sublimetext
layout: learning_sublimetext
is_blog_index: true
---

<section class="reasoning">
	<p>
		<strong>Note</strong>:
		Over the next two weeks, I will learn a new text editor: <a href="http://www.sublimetext.com/">SublimeText</a>. I know that it's not hard to learn a new text editor, but I think if I force myself to dig deeper and try out some of the many plug-ins, then I will not stop once I get proficient, and I will be better off.
	</p>
	<p>
		I will learn a new feature every day and post what I've learned. I'll pull from videos, tutorials, and anything else I find useful. If anyone has any features you recommend I try out, then please share your suggestions via <a href="http://twitter.com/sudorey">twitter</a> or email.
	</p>
</section>

<h2>Why SublimeText?</h2>
<p>
	I need to break my dependency on TextMate and OS X so that I can start using the linux machine that has been gathering dust for a couple months. My proficiency with TextMate has been the number one reason I've been crawling back to my old Mac. SublimeText is a respectable editor that has a lot of the benefits that TextMate has (including use of of <a href="http://manual.macromates.com/en/bundles">'tmbundles'</a>.) It also runs in all the main operating systems.
</p>

<h2>
	Format of these posts
</h2>
<p>
	Each post will be about a feature or a set of features of SublimeText. I'll write how to run the command(s) and a brief description of what it can do. In some cases, I might include a personal note about why I like that feature.
</p>
<p>
	The format of the posts might change over time to make it easier to read through.
</p>
